@{
    Layout = "_Layout";
    ViewData["Title"] = "Kategoriler Sayfası";
}
@model IEnumerable<DBFirstProje.Web.Models.Category>
<div class="container-fluid">
    <!--tablo oluşturalım-->
    <hr />
    @{
        int adet = (int)ViewData["adet"];
    }
        @{
            if (adet != 0)
            {
                <span class="text-white bg-danger"> Veritabanına @adet adet kayıt eklendi.  </span>
            }
        }
        <hr />
        <a class="btn btn-primary" asp-action="Add" asp-controller="Category">Yeni Kategori Ekle</a>
        <hr />

        <table class="table table-striped">
            <thead class="text-white bg-dark">
                <tr>
                    <th>ID</th>
                    <th>KATEGORİ ADI</th>
                    <th>KATEGORİ  AÇIKLAMA</th>
                    <th>İŞLEMLER</th>
                </tr>
            </thead>
            <tbody>
                <!-- veriler -->
                @{
                    foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.Id</td>
                            <td>@category.CategoryName</td>
                            <td>@category.Description</td>

                            <td>
                                <a asp-controller="Category" asp-action="Update" asp-route-id="@category.Id" class="btn btn-success btn-sm">   Güncelle    </a>
                                <a asp-controller="Category" asp-action="Details" asp-route-id="@category.Id" class="btn btn-info btn-sm">      Detaylar    </a>
                                <a asp-controller="Category" asp-action="Remove" asp-route-id="@category.Id" class="btn btn-danger btn-sm">    Sil         </a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
        <hr />
        <a class="btn btn-primary" asp-action="Add" asp-controller="Category">Yeni Kategori Ekle</a>
        <hr />
    </div>